.catName {
    float: left;
    width: 46%;
    text-align: center;
    margin: 4% 2% 0%;
}

#blackCat, #greyCat {
    margin-top: 2%;
    margin-bottom: 0%;
    width: 30%;
}

/*a picture of my black cat*/
#blackCat {
    float: left;
    margin-left: 10%;
}

/*a picture of my grey cat*/
#greyCat {
    float: right;
    margin-right: 10%;
}

footer {
    clear: both;        /*to make it not float around the cat images*/
    padding-top: 4%;    /*overriding padding property in main.css*/
}